/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background-color: #06061C;
  color: #E3EBED;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  width: 100%;
}
a {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: #E3EBED;
}
body {
  font-size: 2rem;
  width: 100%;
}
h1 {
  font-weight: 400;
  font-size: 10rem;
}
h2 {
  font-weight: 300;
  font-size: 5.4rem;
}
.arrow-up {
  position: fixed;
  width: 100%;
  text-align: center;
  margin: 1vh 0;
  font-size: 5vh;
  z-index: 100;
  color: transparent;
}
.arrow-down {
  position: fixed;
  text-align: center;
  top: 93vh;
  margin: 1vh 0;
  font-size: 5vh;
  z-index: 100;
  color: #E3EBED;
  width: 100%;
}
.top-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.top-section .text-wrapper {
  margin-top: -10vh;
}
.top-section .text-wrapper .title {
  display: flex;
  justify-content: space-around;
}
.top-section .text-wrapper .title h1 {
  border: 1px solid #4C5A72;
  padding: 5px 15px;
}
@media (max-width: 500px) {
  .top-section .text-wrapper .title h1 {
    font-size: 7rem;
  }
}
.top-section .text-wrapper .menu {
  margin-top: 2rem;
}
.top-section .text-wrapper .menu a {
  font-variant: small-caps;
  text-decoration: none;
  margin: 2rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #4C5A72;
}
.top-section .text-wrapper p {
  margin-top: 3rem;
}
.hook {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: #EBECEF;
  width: 100%;
  height: 100vh;
}
.hook .text-wrapper {
  position: absolute;
  padding-top: 5vh;
  display: none;
}
.hook .text-wrapper h2 {
  text-align: right;
  padding-right: 3vw;
  color: #06061C;
}
@media (max-width: 500px) {
  .hook .text-wrapper h2 {
    font-size: 12vw;
  }
}
.hook .img-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  align-self: flex-end;
  overflow: hidden;
}
.hook .img-wrapper img {
  min-height: 100%;
  width: auto;
}
.second-hook {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #EBECEF;
  width: 100%;
  height: 100vh;
}
.second-hook .text-wrapper {
  justify-self: flex-end;
  align-self: flex-end;
  position: absolute;
  padding-bottom: 5vh;
  margin-left: 35vw;
  overflow: hidden;
  display: none;
}
@media (max-width: 800px) {
  .second-hook .text-wrapper {
    margin-left: 0px;
  }
}
.second-hook .text-wrapper h2 {
  text-align: center;
  color: #06061C;
}
@media (max-width: 800px) {
  .second-hook .text-wrapper h2 {
    font-size: 10vw;
  }
}
.second-hook .img-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  align-self: flex-end;
  overflow: hidden;
}
.second-hook .img-wrapper img {
  min-height: 100%;
  width: auto;
}
.features {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.features .text-wrapper {
  justify-self: center;
  align-self: flex-end;
  position: absolute;
  padding-bottom: 15vh;
  display: none;
}
.features .text-wrapper h2 {
  text-align: center;
  color: #E3EBED;
}
@media (max-width: 500px) {
  .features .text-wrapper h2 {
    font-size: 10vw;
  }
}
.features .img-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  align-self: flex-end;
  overflow: hidden;
}
.features .img-wrapper img {
  min-height: 100%;
  width: auto;
}
.bottom-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #E3EBED;
  color: #06061C;
}
.bottom-section .text-wrapper {
  margin-top: 35vh;
}
.bottom-section .text-wrapper button {
  background-color: transparent;
  color: #06061C;
  border: 1px solid #06061C;
  padding: 5px 15px;
  transition-duration: 200ms;
}
@media (max-width: 500px) {
  .bottom-section .text-wrapper button h1 {
    font-size: 14vw;
  }
}
.bottom-section .text-wrapper button:hover {
  background-color: #06061C;
  color: #E3EBED;
  border: 1px solid #E3EBED;
}
.bottom-section .text-wrapper button:active {
  color: #4C5A72;
}
.bottom-section .text-wrapper p {
  margin-top: 2rem;
}
.bottom-section .copyright {
  margin-top: auto;
  margin-bottom: 2rem;
}
.summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  text-align: center;
}
.summary .menu {
  position: absolute;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  z-index: 1000;
}
.summary .menu a {
  text-decoration: none;
}
.summary .menu .home-link {
  border: 1px solid #E3EBED;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
}
.summary .menu .about-link {
  font-variant: small-caps;
  border-bottom: 1px solid #E3EBED;
  margin: 1rem 2rem;
  padding-bottom: 1rem;
}
.summary .menu .sign-up-link {
  font-variant: small-caps;
  border-bottom: 1px solid #E3EBED;
  margin: 1rem 2rem;
  padding-bottom: 1rem;
}
.summary .text-full-container {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .summary .text-full-container {
    flex-direction: column;
  }
}
.summary .text-full-container .text-wrapper.left {
  padding-left: 3vw;
  margin-bottom: 20vh;
}
@media (max-width: 800px) {
  .summary .text-full-container .text-wrapper.left h1 {
    margin-top: 5vh;
    font-size: 16vw;
  }
}
.summary .text-full-container .text-wrapper.right {
  text-align: right;
  padding-right: 3vw;
  font-size: 3rem;
}
@media (max-width: 800px) {
  .summary .text-full-container .text-wrapper.right {
    margin-bottom: 20%;
    font-size: 7vw;
    text-align: left;
    padding-left: 3vw;
  }
}
.summary .img-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  min-height: 100%;
  align-self: flex-end;
  overflow: hidden;
}
.summary .img-wrapper img {
  min-height: 100%;
  width: 2000px;
}
.people {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  background-color: #EBECEF;
  width: 100%;
  height: 100vh;
}
.people .member-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding-top: 1vh;
  width: 60%;
  align-items: flex-end;
  padding-right: 3vw;
  padding-left: 3vw;
  text-align: right;
  background-color: rgba(6, 6, 28, 0.5);
  display: none;
}
@media (max-width: 800px) {
  .people .member-wrapper {
    width: 80%;
    align-items: center;
    align-self: center;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .people .member-wrapper h2 {
    display: none;
  }
}
.people .member-wrapper .team {
  padding-top: 1vh;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.people .member-wrapper .team .member {
  display: flex;
  flex-direction: column;
  width: 26%;
  padding-bottom: 3vh;
}
@media (max-width: 500px) {
  .people .member-wrapper .team .member {
    width: 46%;
  }
}
@media (max-width: 500px) {
  .people .member-wrapper .team .member p {
    font-size: 1.8rem;
    font-weight: 300;
  }
}
.people .member-wrapper .team .member img {
  width: 100%;
  padding-bottom: 0.5vh;
}
.people .copyright {
  position: absolute;
  align-self: center;
  margin-top: 95vh;
}
@media (max-width: 800px) {
  .people .copyright {
    margin-top: 97vh;
  }
}
@media (max-width: 500px) {
  .people .copyright p {
    font-size: 1.6rem;
  }
}
.people .img-wrapper {
  overflow: hidden;
}
.people .img-wrapper img {
  min-height: 100%;
  min-width: 100%;
}
