@darkest: #06061C;
@midDark: #0C0E35;
@lightDark: #1E245E;
@neutralMid: #4C5A72;
@light: #E3EBED;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @midDark;
    width: 100%;
    min-height: 100vh;
}