.summary {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
    .menu {
        position: absolute;
        display: flex;
        align-items: center;
        margin-top: 1rem;
        z-index: 1000;
        a {
            text-decoration: none;
            @media @tablet {
                font-size: 5vw;
            }
        }
        .home-link {
            border: 1px solid @light;
            padding: 1rem 2rem;
            margin-bottom: 1rem;
        }
        .about-link {
            font-variant: small-caps;
            border-bottom: 1px solid @light;
            margin: 1rem 2rem;
            padding-bottom: 1rem;
        }
        .sign-up-link {
            font-variant: small-caps;
            border-bottom: 1px solid @light;
            margin: 1rem 2rem;
            padding-bottom: 1rem;
        }
    }
    .text-full-container {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-around;
        @media @tablet {
            flex-direction: column;
        }
        .text-wrapper.left {
            padding-left: 3vw;
            margin-bottom: 20vh;
            h1 {
                @media @tablet {
                    margin-top: 5vh;
                    font-size: 16vw;
                }
            }            
        }
        .text-wrapper.right {
            text-align: right; 
            padding-right: 3vw;
            font-size: 3rem;
            @media @tablet {
                margin-bottom: 20%;
                font-size: 7vw;
                text-align: left;
                padding-left: 3vw;
            }
        }
    }
    .img-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 100%;
        min-height: 100%;
        align-self: flex-end;
        overflow: hidden;
        img {
            min-height: 100%;
            width: 2000px;
        }
    }
}

.people {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    background-color: #EBECEF;
    width: 100%;
    height: 100vh;
    .member-wrapper {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding-top: 1vh;
        width: 60%;
        align-items: flex-end;
        padding-right: 3vw;
        padding-left: 3vw;
        text-align: right;
        background-color: @darkestFaded;
        display: none;
        @media @tablet {
            width: 80%;
            align-items: center;
            align-self: center;
            text-align: center;
        }
        h2 {
            @media @phone {
                display: none;
            }
        }
        .team {
            padding-top: 1vh;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            .member {
                display: flex;
                flex-direction: column;
                width: 26%;
                padding-bottom: 3vh;
                @media @phone {
                    width: 35vw;
                }
                p {
                    @media @phone {
                        font-size: 4vw;
                        font-weight: 300;
                    }
                }
                img {
                    width: 100%;
                    padding-bottom: .5vh;
                }
            }
        }
        .img-wrapper {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            height: 100%;
            min-height: 100%;
            align-self: flex-end;
            overflow: hidden;
            img {
                min-height: 100%;
                width: 2000px;
            }
        }
    }
    .copyright {
        position: absolute;
        align-self: center;
        padding-top: 95vh;
        @media @tablet {
            padding-top: 95vh;
        }
        p {
            @media @phone {
                font-size: 1.6rem;
            }
        }
    }
    .img-wrapper {
        overflow: hidden;
        img { 
            min-height: 100%;
            min-width: 100%;
        }
    }
}