@darkest: #06061C;
@midDark: #0C0E35;
@lightDark: #1E245E;
@neutralMid: #4C5A72;
@light: #E3EBED;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @darkest;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    .about-us {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            align-self: flex-start;
        }
        .text-body {
            text-align: center;
        }
    }
    h2 {
        align-self: flex-end;
    }
    .team {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        background-color: @neutralMid;
        .member {
            display: flex;
            flex-direction: column;
            width: 26%;
            margin-bottom: 5rem;
            img {
                width: 100%;
            }
            h3 {
                font-size: 2.8rem;
                font-weight: 400;
                margin: 0.6rem;
            }
            p {
                margin: 0.6rem;
            }
        }
    }
}